<% layout('layout') -%>
<% block('title', "Teilnehmer | BarCamp Graz 2015") %>

<div class="page-header">
  <h2>Teilnehmer BarCamp Graz 2015</h2>
</div>

<% if (users.length > 0) { %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Bevorzugtes Camp</th>
        <th>Links</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(function(u, i) { %>
      <tr>
        <th scope="row"><%= i + 1 %></th>
        <td><%= u.firstName %></td>
        <td><%= u.lastName %></td>
        <td><%= u.preferredCamp %></td>
        <td>
          <% if (u.twitter) { %> <a href="https://twitter.com/<%= u.twitter %>"><i class="fa fa-twitter-square"></i></a> <% } %>
          <% if (u.facebook) { %> <a href="https://www.facebook.com/<%= u.facebook %>"><i class="fa fa-facebook-square"></i></a> <% } %>
          <% if (u.google_plus) { %> <a href="https://plus.google.com/+<%= u.google_plus %>"><i class="fa fa-google-plus-square"></i></a> <% } %>
          <% if (u.website) { %> <a href="<%= u.website %>"><i class="fa fa-home"></i></a> <% } %>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>

<% } else { %>

  <p>Es liegen noch keine Anmeldungen vor.</p>

<% } %>
